* {
  background-color: rgb(240, 240, 240);
  font-family: "Bruno Ace SC", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Prompt", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.header__link {
  margin: 10px 30px;
}

nav {
  width: 200px;
  height: 100%;
  text-align: center;
}

.nav__item--name {
  margin-top: 10px;
}

.nav__item {
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  margin: 10px;
}

.aside_shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.product__img {
  max-width: 150px;
  margin-top: 10px;
}

.product__button {
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  margin: 10px;
}

section {
  width: 300px;
  height: 100%;
  text-align: center;
  padding: 10px;
}

input {
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.footer__button {
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  margin: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: right;
}

.aside_cart {
  padding: 10px;
}

.product__item--cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  margin: 10px;
}

.product__img--cart {
  max-width: 150px;
}

.product__number--cart {
  width: 30px;
  height: 16px;
}

.product__name__flex--cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

nav,
section,
input,
.nav__item,
.aside_cart,
.aside_shop,
.product__img,
.product__button,
.footer__button,
.product__img--cart,
.delete-button {
  border: 1px solid #000;
  border-radius: 5px;
}

@media (min-width: 600px) {
  nav,
  section {
    display: block;
    float: left;
  }
  .aside_cart {
    margin-left: 340px;
  }
  .aside_shop {
    margin-left: 220px;
  }
}
@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aside_cart {
    margin-top: 10px;
  }
  .aside_shop {
    margin-top: 10px;
  }
}
.product__item--cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-button {
  margin: 10px;
  background-color: rgb(255, 255, 255);
}/*# sourceMappingURL=styles.css.map */