* {
    background-color: rgb(240, 240, 240);
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
}

$items-col: rgb(255, 255, 255);
$buttons-hover: black;

$margin-items-1: 10px 30px;
$padding-items-1: 10px 30px;
$margin-2: 10px;
$padding-2: 10px;

$border: 1px solid #000;
$border-rad: 5px;


@mixin custom-flex($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin reset-link-button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

@mixin grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}


@mixin single-column-grid($column-gap: 20px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: $column-gap;
}