@import '_variables';

header {
    @include custom-flex($direction: row, $justify: flex-start, $align: center);
}

a {
    @include reset-link-button;
}

button {
    @include reset-link-button;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        color: $items-col;
        background-color: $buttons-hover;
    }
}

.header__link {
    margin: $margin-items-1;
}

nav {
    width: 200px;
    height: 100%;
    text-align: center;
}

.nav__item--name {
    margin-top: 10px;
}

.nav__item {
    background-color: $items-col;
    padding: $padding-items-1;
    margin: $margin-2;
}

.aside_shop {
    @include grid-layout;
}

.product__item {
    @include custom-flex($direction: column, $justify: center, $align: center);
    margin: $margin-2;
}

.product__img {
    max-width: 150px;
    margin-top: $margin-2;
}

.product__button {
    background-color: $items-col;
    padding: $padding-items-1;
    margin: $margin-2;
}

section {
    width: 300px;
    height: 100%;
    text-align: center;
    padding: $padding-2;
}

input {
    padding: $padding-2;
    background-color: $items-col;
}

.footer__button {
    background-color: $items-col;
    padding: $padding-items-1;
    margin: $margin-2;
}

footer {
    @include custom-flex($direction: row, $justify: center, $align: center);
    float: right;
}

.aside_cart {
    padding: $padding-2;
}

.product__item--cart {
    @include single-column-grid($column-gap: 20px);

    margin: $margin-2;
}

.product__img--cart {
    max-width: 150px;
}

.product__number--cart {
    width: 30px;
    height: 16px;
}

.product__name__flex--cart {
    @include custom-flex($direction: column, $justify: center, $align: center);
    margin: $margin-2;
}

nav,
section,
input,
.nav__item,
.aside_cart,
.aside_shop,
.product__img,
.product__button,
.footer__button,
.product__img--cart,
.delete-button {
    border: $border;
    border-radius: $border-rad;
}

@media (min-width: 600px) {

    nav,
    section {
        display: block;
        float: left;
    }

    .aside_cart {
        margin-left: 340px;
    }

    .aside_shop {
        margin-left: 220px;
    }
}

@media (max-width: 600px) {

    body {
        @include custom-flex($direction: column, $justify: center, $align: center);
    }

    .aside_cart {
        margin-top: $margin-2;
    }

    .aside_shop {
        margin-top: $margin-2;
    }
}

.product__item--cart {
    @include custom-flex($direction: column, $justify: center, $align: center);
}

.delete-button {
    margin: $margin-2;
    background-color: $items-col;
}